Plans/.$General Plan.drawio.dtmp
/CrawlerApi/SeleniumBaseApi/obj
/CrawlerApi/SeleniumBaseApi/obj/Debug/
/CrawlerApi/SeleniumBaseApi/obj/Debug/net8.0
/CrawlerApi/SeleniumBaseApi/bin
/CrawlerApi/SeleniumBaseApi/.vs
/CrawlerApi/.vs
Plans/.$General Plan.drawio.bkp
/CrawlerApi/SeleniumBaseApi/bin/Debug
/CrawlerApi/SeleniumBaseApi/bin
/CrawlerApi/SeleniumBaseApi/bin/Debug/net8.0
CrawlerApi/SeleniumBaseApi/bin/Debug/net8.0/SeleniumBaseApi.pdb
CrawlerApi/SeleniumBaseApi/bin/Debug/net8.0/SeleniumBaseApi.exe
CrawlerApi/SeleniumBaseApi/bin/Debug/net8.0/SeleniumBaseApi.dll
/CrawlerApi/SeleniumBaseApi/bin